
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<body>

    <h1> ХЕЙ -- Изгуби ли се ????</h1>
    <div class="login-form">
        <h2>Errorrrrr 404</h2>
        <h3> Грешка в сървъра моля оритайте отново по- късно.....</h3>
        <h3> Благодарим Ви за разбирането......</h3>
    </div>
    <footer>
        <p class="home"> Към  <a href="~/Home/Index" target="_blank"> Началната страница </a></p>
    </footer>

</body>

</html>


<style>
    body {
        margin: 0;
        padding: 0;
        background-size: auto;
        min-height: 100vh;
        background-size: cover;
        font-family: 'Raleway', sans-serif;
        background-image: url('../../Content/Login/images/ripet.jpg');
    }

    h1 {
        margin: 0;
        color: black;
        text-align: center;
        font-size: 60px;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 50px 0;
    }

    h2 {
        margin: 0;
        color: white;
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 2px;
        padding-bottom: 30px;
        font-style: italic;
    }

    h3 {
        margin: 0;
        color: white;
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 1.5px;
        padding-bottom: 30px;
        font-style: italic;
    }


    .login-form {
        background: rgba(0, 0, 0, 0.4117647058823529);
        max-width: 700px;
        margin: 0 auto;
        padding: 3em;
        border-radius: 10px;
        box-sizing: border-box;
    }


    /*--footer--*/

    p.home {
        font-size: 15px;
        letter-spacing: 2px;
        color: black;
        font-weight: 300;
    }

    footer p a {
        display: inline-block;
        color: #fff;
        text-decoration: underline;
    }

        footer p a:hover {
            color: #fff;
            text-decoration: none;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -ms-transition: 0.5s all;
            transition: 0.5s all;
        }

    footer {
        padding: 4em 0;
        text-align: center;
    }

    @@media(max-width:768px) {
        h1 {
            font-size: 47px;
        }
    }

    @@media(max-width:667px) {
        h1 {
            font-size: 45px;
        }
    }

    @@media(max-width:640px) {
        p.home {
            letter-spacing: 1px;
        }

        h1 {
            font-size: 43px;
        }
    }

    @@media(max-width:568px) {
        h1 {
            font-size: 40px;
        }

        p.home {
            font-size: 14px;
        }
    }

    @@media(max-width:480px) {
        .w3l-login-form {
            margin: 0 3vw;
        }

        h1 {
            font-size: 38px;
        }

        p.home {
            line-height: 1.8em;
        }
    }

    @@media(max-width:414px) {
        h1 {
            font-size: 34px;
        }
    }

    @@media(max-width:384px) {
        h1 {
            font-size: 30px;
        }
    }

    @@media(max-width:320px) {
        h1 {
            font-size: 25px;
        }

        .forgot p {
            text-align: left;
        }

        .forgot {
            display: block;
        }
    }
</style>